
  .main {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
  }

  .yellow-line-main{
    height: 10px;
    width: 100%;
    background-color: var(--button-color);
  }

  /* From Uiverse.io by Nawsome */ 
.loader {
  position: relative;
  width: 240px;
  height: 200px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  padding: 15px;
  background-color: #e3e3e3;
  overflow: hidden;
}

.loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
  animation: gradient-animation_2 1.2s linear infinite;
}

.loader .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader .wrapper > div {
  background-color: #cacaca;
}

.loader .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.loader .button {
  display: inline-block;
  height: 32px;
  width: 75px;
}

.loader .line-1 {
  position: absolute;
  top: 11px;
  left: 58px;
  height: 10px;
  width: 100px;
}

.loader .line-2 {
  position: absolute;
  top: 34px;
  left: 58px;
  height: 10px;
  width: 150px;
}

.loader .line-3 {
  position: absolute;
  top: 57px;
  left: 0px;
  height: 10px;
  width: 100%;
}

.loader .line-4 {
  position: absolute;
  top: 80px;
  left: 0px;
  height: 10px;
  width: 92%;
}

  .courses-list {
    display: grid;
    grid-template-columns: repeat(3, 0fr); /* 3 columns in the first row */
    grid-auto-rows: auto; 
    gap: 50px;
    padding: 25px;
    width: 100%;
    justify-content: center;
  }

  .course-card {
    height: 430px;
    width: auto;
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: inset 1px 0 4px #00000040;
  }

  .course-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }

  .details-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4px 12px;
  }


  .course-level {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--seconde-btn-color);
  }


  .button {
    padding: 8px 20px;
    border-radius: 10px;
    background-color:var(--button-color);
    color: var(--main-color);
    border: var(--aditional-color) 1px solid;
    cursor: pointer;
  }

  .button:hover{
    opacity: 0.8;
    transition: 0.3s ease;
}

@media (max-width: 768px) {
  .courses-list {
    grid-template-columns: repeat(1,0fr);
  }
}

@media (min-width: 768px) and (max-device-width: 1100px){
  .courses-list {
    grid-template-columns: repeat(2,0fr);
  }
}