/* General Layout and Design */
.description-section {
  display: flex;
  justify-content: space-between;
  height: 450px;
  width: 80vw;
  padding: var(--default-padding);
  gap: 20px;
}

.desc {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
}
.basic-info {
  font-size: 1.5rem;
  color: var(--grey-color);
  width: 80%;
}

.info-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.inline {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.crd {
  width: auto;
  height:320px;
  background-color: var(--main-color);
  border-radius: 10px;
  border: 0.5px groove var(--aditional-color) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease-in-out;
}
.crd:hover {
  transform: scale(1.05);
  
}

.details-heading {
  font-weight: 700;
  font-size: 32px;
}

/* Typography */
.price {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--black-txt);
}

.span {
  color: var(--grey-color);
  font-size: 1rem;
}

.discount {
  font-size: 0.875rem;
  color: var(--black-txt);
}

.para {
  font-size: 0.875rem;
  color: var(--grey-color);
}

/* Buttons */
.btn-container {
  width: 80%;
  padding-top: 10px;
}
.sub-btn {
  width: 100%;
  padding: 10px 28px;
  background-color:var(--button-color);
  color: var(--main-color);
  border:  1px solid var( --aditional-color);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.sub-btn:hover{
  opacity: 0.8;
}


/* Skills Section */
.skills {
  width: 100%;
  height: 400px;
  padding: var(--default-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.grid{
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}

.skills-learned {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.skills-learned:nth-child(3) {
  padding-left: 8rem;
}

.skill {
  display: flex;
  align-items: center;
  gap: 8px;
}

.skill h4 {
  font-size: 1.5rem;
}

.paragraph {
  font-size: 1rem;
  color: var(--grey-color);
  padding-right: 1rem;
}

/* From Uiverse.io by mrhyddenn */
.spinner {
  font-size: 28px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
  0% {
    background-color: #69717d;
  }

  100% {
    background-color: transparent;
  }
}

  /* Mobile Styles */
@media (max-width: 768px) {
  .description-section {
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  .desc {
    align-items: flex-start;
  }

  .details-heading{
    font-size: 1.5rem;
  }

  .basic-info {
    width: 100%;
  }
  .basic-info p {
    font-size: 1.125rem;
  }
  .info-container{
    flex-direction: column;
    font-size: 1.125rem;
  }
 
  .crd{
    width: fit-content;
  }

  .skills{
    padding: 20px 0;
  }

  .skills h4 {
    font-size: 1.125rem;
  }

  .skills-learned {
    align-items: flex-start;
  }
  .skills-learned:nth-child(3) {
    padding-left: 0;
  }
  .grid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .start {
    align-items: flex-start;
  }
  .flex-centre:nth-child(3) {
    padding-left: 0;
  }

}

  /* Tablet Styles */
@media (min-width: 768px) and (max-width: 992px) {
  .description-section {
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  .desc {
    align-items: flex-start;
  }

  .details-heading{
    font-size: 1.75rem;
  }

  .basic-info {
    width: 100%;
  }
  .basic-info p {
    font-size: 1.25rem;
  }

  .info-container{
    flex-direction: column;
    font-size: 1.25rem;
  }
 
  .crd{
    width: fit-content;
  }

  .skills{
    height: auto;
    padding: 25px 0;
  }

  .skills h4 {
    font-size: 20px;
  }

  .skills-learned {
    align-items: flex-start;
  }
  .skills-learned:nth-child(3) {
    padding-left: 0;
  }
  .grid{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .start {
    align-items: flex-start;
  }
  .flex-centre:nth-child(3) {
    padding-left: 0;
  }
}
