:root {
    --main-color: white;
    --button-color: #FFC446;
    --seconde-btn-color:#FFEECA;
    --footer-color:#323B4B;
    --secondary-footer-color : #29303D;
    --aditional-color:#C18606;
    --navbar-color:#FFF9ED;
  }