:root {
    --main-color: white;
    --button-color: #FFC446;
    --seconde-btn-color:#FFEECA;
    --footer-color:#323B4B;
    --secondary-footer-color : #29303D;
    --aditional-color:#C18606;
    --navbar-color:#FFF9ED;
  }

  .main {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
  }

  .yellow-line-main{
    height: 10px;
    width: 100%;
    background-color: #FFC446;
  }

  .courses-list {
    display: grid;
    grid-template-columns: repeat(3, 0fr); /* 3 columns in the first row */
    grid-auto-rows: auto; 
    gap: 50px;
    padding: 25px;
    width: 100%;
    justify-content: center;
  }

  .course-card {
    height: 430px;
    width: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 1px 0 4px #00000040;
  }

  .course-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  .flex {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #918E8E;
  }

  .details-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4px 12px;
  }

  .txt-gold {
    color: #C18606;
  }

  .course-level {
    padding: 10px;
    border-radius: 10px;
    background-color: #FFEECA;
  }

  .centre {
    display: flex;
    gap: 10px;
  }

  .space-between {
    justify-content: space-between;
  }

  .black-text{
    color: black;
    font-weight: 700;
    font-size: 18px;
  }

  .button {
    padding: 8px 20px;
    border-radius: 10px;
    background-color:#FFC446;
    color: #fff;
    border: #C18606 1px solid;
    cursor: pointer;
  }

  .button:hover{
    opacity: 0.8;
    transition: 0.3s ease;
}