.navigation {
    height: 100px;
    width: 100vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 27px;
    font-size: 22px;
    background-color: #FFF9ED;
}

.right-sec {
    display: flex;
    align-items: center;
    justify-content: center;

}

.links {
    display: flex;
    gap: 10rem;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: var(--black-txt);
}

.link:focus {
    background-color: var(--button-color);
    color: var(--main-color);
    padding: 8px;
    border-radius: 5px;
}

.link:hover{
    color: var(--aditional-color);
    transition: 0.3s ease;
}

.left-sec {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.btn{
   padding: 8px 20px;
   border-radius: 10px;
   border: var( --aditional-color) 1px solid;
   cursor: pointer;
}

.btn:hover{
    opacity: 0.8;
    transition: 0.3s ease;
}

.btn1 {
   background-color: var(--button-color);
   color: white;
   font-weight: 600;

}

.btn2{
    border: var(--aditional-color) 1px solid;
    background-color: #FFEECA;
    color: var(--aditional-color);
 }

 @media (max-width: 768px) {
    .nav-links{
        display: none;
    }

    .left-sec{
        display: none;
    }
 }

 @media (min-width: 768px) and (max-device-width: 992px) {
    .nav-links{
        gap: 6rem;
    }
 }

 @media (min-width: 992px) and (max-device-width: 1200px){
    .nav-links{
        gap: 8rem;
    }
 }