.copy-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 90px;
    background-color: #29303D;
    color: white;
    padding: 10px 27px;
    font-weight: 700;
}

@media (max-width: 576px) {
    .copy-right{
        flex-direction: column;
        height: auto;
        gap: 20px;
    }
}