.footer {
    background-color: var(--footer-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 100vw;
    color:var(--main-color);
    padding: var(--default-padding);
}

.sections {
    height: 250px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.header {
    align-content: start;
}
.yellow-line {
    width: 100px;
    height: 10px;
    background-color:var(--button-color);
}
.f-links {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.f-links .footer-link {
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color);
    margin-top: 0.5rem;
}

.footer-link:hover{
    color: var( --aditional-color);
    transition: 0.3s ease;
}

.check {
    width: 290px;
    height: 50px;
    display: flex;
}

.input {
    height: 100%;
    width: 80%;
    font-size: 22px;
}
.check-btn {
    width: 80px;
    color: var(--main-color);
    background-color: var(--button-color);
    border: var(--button-color) 1px solid;
    font-weight: 700;
    cursor: pointer;
}

.icons-section {
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 0fr); /* 3 columns in the first row */
    grid-auto-rows: auto; 
    gap: 8px;
}

.icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 576px) {
    .footer{
        flex-direction: column;
        height: auto;
        justify-content: start;
        align-items: start;
        gap: 20px;
    }
    .sections{
        height: auto;
    }


}

@media (min-width: 576px) and (max-device-width: 992px){
    .footer{
        display: grid;
        grid-template-columns: repeat(2,0fr);
        height: auto;
    }
}