@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {

    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
    direction: rtl;
    text-align: right;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  :root {
    --main-color: #ffffff;
    --button-color: #FFC446;
    --seconde-btn-color:#FFEECA;
    --footer-color:#323B4B;
    --aditional-color:#C18606;
    --navbar-color:#FFF9ED;
    --black-txt: #000000
    --grey-color : #626060;
    --default-padding : 10px 27px;
  }

  .flex {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #918E8E;
  }

  .txt-gold {
    color: var(--aditional-color);
  }

  .centre {
    display: flex;
    gap: 10px;
  }

  .space-between {
    justify-content: space-between;
  }

  .black-text{
    color: var(--black-txt);
    font-weight: 700;
    font-size: 18px;
  }

  .pointer {
    cursor: pointer;
  }
  
  .right-pad {
    padding-right: 4rem;
    font-size: 18px;
  }
  
  .normal-font {
    font-weight: 400;
  }
  
  .box {
    font-size: 24px;
    color: var(--black-txt);
    font-weight: 700;
    padding-top: 20px;
  }
  
  .flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }  